*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.map-container{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    cursor: grab;
}

.map-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 0;
}

.building{
    position: absolute;
    z-index: 1;
}

.building img{
    width: 10%;
    height: auto;
}

.building:hover img{
    transform: scale(1.1);
}